<h2 class="page-header">Welcome to Your Cart!</h2>
<br>
<h2>{{product.title}}</h2>
<img class="product" src="/static/images/{{product.image}}.jpg" alt="Image unavailable">
<br>

<form action="/checkout/{{productId}}" class="Cart">
    <p class="quantity">Quantity: <input type="number" name="quantity" min="1" max="5" step="1" value="1" class="quantity" id="quantity" onchange="totalCost()" ></p>
    <p class="cost" name="totalCost" id="totalCost">Total Cost: ${{product.price}}</p>
    <input type="submit" value="Checkout" class="checkoutButton">
</form>

<br>
<br>
<form action="/cart" class="removeItems">
    <input type="submit" value="Remove Item" class="removeItemButton">
</form>

<script>
    function totalCost()
    {
        var quantity = document.getElementById("quantity").value;
        var price = {{product.price}};
        var cost = quantity * price;
        document.getElementById("totalCost").innerHTML = "Total Cost: $" + cost;
    }
</script>