{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
{{/if}}
<form id="homePage" method="get">
  <h2 class="page-header">Our Products Range</h2>
  <div class="products-grid">
    <div class="products-grid-row">
      <div class="products-grid-cell">   
        <img class="product" src="/static/images/{{products.[0].image}}.jpg" alt="Image unavailable">
        <a href="/product/{{products.[0]._id}}">Senseo 7810 Single-Serve Gourmet Coffee Machine</a>
      </div>
      <div class="products-grid-cell">   
        <img class="product" src="/static/images/{{products.[1].image}}.jpg" alt="Image unavailable"/>
        <a href="/product/{{products.[1]._id}}">iRobot Roomba 890 Robot Vacuum with Wi-Fi Connectivity</a>
      </div>
      <div class="products-grid-cell">   
        <img class="product" src="/static/images/{{products.[2].image}}.jpg" alt="Image unavailable"/>
        <a href="/product/{{products.[2]._id}}">Dell XPS9360-4841SLV 13.3" Laptop (7th Generation Intel Core i7, 8GB RAM, 256 GB SSD, Silver)</a>
      </div>
    </div>
    <div class="products-grid-row">
      <div class="products-grid-cell">   
        <img class="product" src="/static/images/{{products.[3].image}}.jpg" alt="Image unavailable"/>
        <a href="/product/{{products.[3]._id}}">Marshall Acton M-ACCS-10126 Acton Speaker</a>
      </div>
      <div class="products-grid-cell">   
        <img class="product" src="/static/images/{{products.[4].image}}.jpg" alt="Image unavailable"/>
        <a href="/product/{{products.[4]._id}}">Winix 5300-2 Air Purifier with True HEPA</a>
      </div>
      <div class="products-grid-cell">   
        <img class="product" src="/static/images/{{products.[5].image}}.jpg" alt="Image unavailable"/>
        <a href="/product/{{products.[5]._id}}">Samsung S24E310HL 23.6-Inch Screen LED-Lit Monitor</a>
      </div>
    </div>
  </div>
</form>