<h2 class="page-header">Our Products Range</h2>
{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
{{/if}}
<form id="productForm" name="productForm" method="get">
  <h2 class="page-header">Our Products Range</h2>
  <div class="products-grid">
    <div class="products-grid-row">
      <div class="products-grid-cell">   
        <img class="product" src="/static/images/{{product.image}}.jpg" alt="Image unavailable">
        <figcaption>{{product.title}}</figcaption>
        <a href="/cart/{{product._id}}">BUY</a>
        <!--<button onclick="location.href='/cart/'" id={{product._id}} type="submit-button">BUY</button>-->
      </div>
      <div class="products-grid-cell">   
        <ul id="productFeatures">
          <li>{{product.title}}</li>
          <li>{{product.description}}</li>
          <li>{{product.price}}</li>
        </ul>
      </div>
    </div>
    <div class="comments-row">
    </div>
  </div>
</form>