<script> 
  function addNewReview()
    {
      // hide "no reviews" alert
      document.getElementById('reviews-error').style.visibility = "hidden";
      
      // append new review
      var history = document.getElementById("reviews");
      var newItem = document.createElement("li");
      var newItemValue = document.createTextNode(document.getElementById("addReview").value);
      newItem.appendChild(newItemValue);
      history.appendChild(newItem);
    }
</script>

<h2 class="page-header">{{product.title}}</h2>
{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
{{/if}}
<form id="productForm" name="productForm" method="get" action="/cart/{{product._id}}">
  <div class="products-grid">
    <div class="products-grid-row">
      <div class="products-grid-cell">   
        <img class="product" src="/static/images/{{product.image}}.jpg" alt="Image unavailable">
        <figcaption>{{product.title}}</figcaption>
        <button id={{product._id}} style="background-color: #e9ab27; float:right;" type="submit">BUY</button>
      </div>
      <div class="products-grid-cell">   
        <dl>
           <dt>Model</dt>
           <dd>{{product.title}}</dd>
           <dt>Description</dt>
           <dd>{{product.description}}</dd>
           <dt>Price</dt>
           <dd>{{product.price}}</dd>
           <dt>Dimensions</dt>
           <dd>{{product.specifications.dimensions}}</dd>
           <dt>Weight</dt>
           <dd>{{product.specifications.weight}}</dd>
           <dt>Power</dt>
           <dd>{{product.specifications.power}}</dd>
           <dt>Input Voltage</dt>
           <dd>{{product.specifications.inputVoltage}}</dd>
        </dl>
      </div>
    </div>
    <div>
      <div>
        <textarea id="addReview" name="addReview" type="text" placeholder="Add review.." style="margin-top: 30px; margin-bottom: 5px; width: 100%;"></textarea>
        <button onclick="addNewReview()" type="button" class="submit-button">Submit</button>
      </div>
    </div>
    <div class="products-grid-row">
      <label id="reviews-error">This product has no reviews. How about add a review?</label>
    </div>
    <div>
      <!-- cite: https://stackoverflow.com/a/5482693/2535979 -->
      <ul id="reviews" style:"float: left;"></ul>
    </div>
  </div>
</form>